<div class="vc_row wpb_row vc_row-fluid vc_custom_1451469816418">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="ultimate-heading-34855e789b7e9747e" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-34855e789b7e9747e uvc-5500 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-34855e789b7e9747e h2' data-responsive-json-new='{"font-size":"desktop:26px;","line-height":"desktop:45px;"}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:23px;margin-bottom:0px;">ABOUT US</h2></div>
                    <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffc000;width:30px;"></span></div>
                </div>
                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1451470255815  vc_custom_1451470255815"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1451469856117">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_custom_1455637861950 vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left">
                    <div class="wpb_wrapper">

                        <div class="wpb_video_wrapper">
                            <iframe src="https://player.vimeo.com/video/95415863" width="1200" height="675" title="The Adobe Illustrator Story" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="wpb_text_column wpb_content_element  vc_custom_1454592462003">
                    <div class="wpb_wrapper">
                        <p><a href="http://skilled.aislinthemes.com/about-us/">Home</a>  /  <a href="http://skilled.aislinthemes.com/about-us/">About</a>  /  <a href="http://skilled.aislinthemes.com/about-us/">Video</a></p>

                    </div>
                </div>

                <div class="wpb_text_column wpb_content_element  vc_custom_1449053956553">
                    <div class="wpb_wrapper">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner vc_custom_1454920666252">
            <div class="wpb_wrapper">
                <div class="aio-icon-component    style_1">
                    <div id="Info-box-wrap-3091" class="aio-icon-box default-icon" style="">
                        <div class="aio-icon-default">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon none " style="color:#ffc11b;font-size:16px;display:inline-block;">
                                        <i class="Defaults-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aio-icon-header">
                            <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-3091 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:600;color:#666666;">Education School Technology</h3></div>
                        <!-- header -->
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <ul>
                            <li>Passionate about teaching</li>
                            <li>Create and save lists</li>
                        </ul>

                    </div>
                </div>
                <div class="aio-icon-component    style_1">
                    <div id="Info-box-wrap-9006" class="aio-icon-box default-icon" style="">
                        <div class="aio-icon-default">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon none " style="color:#ffc11b;font-size:16px;display:inline-block;">
                                        <i class="Defaults-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aio-icon-header">
                            <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-9006 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:600;color:#666666;">Digital Education Market Briefing</h3></div>
                        <!-- header -->
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <ul>
                            <li>I am text block.</li>
                            <li>Click edit button to change this text.</li>
                        </ul>

                    </div>
                </div>
                <div class="aio-icon-component    style_1">
                    <div id="Info-box-wrap-6619" class="aio-icon-box default-icon" style="">
                        <div class="aio-icon-default">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon none " style="color:#ffc11b;font-size:16px;display:inline-block;">
                                        <i class="Defaults-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aio-icon-header">
                            <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-6619 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:600;color:#666666;">Conscious Discipline Institute</h3></div>
                        <!-- header -->
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <ul>
                            <li>Passionate about teaching</li>
                            <li>Create and save lists</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_accordion wpb_content_element  not-column-inherit" data-collapsible="" data-vc-disable-keydown="false" data-active-tab="1">
                    <div class="wpb_wrapper wpb_accordion_wrapper ui-accordion">

                        <div class="wpb_accordion_section group">
                            <h3 class="wpb_accordion_header ui-accordion-header"><a href="#learn-from-ajax-pro">Learn from AJAX Pro</a></h3>
                            <div class="wpb_accordion_content ui-accordion-content vc_clearfix">

                                <div class="wpb_text_column wpb_content_element  vc_custom_1449053787185">
                                    <div class="wpb_wrapper">
                                        <p><span style="color: #666666;">From emptying a litter box, to walking and feeding, we’re here to make sure your pet is cared for as well.</span></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="wpb_accordion_section group">
                            <h3 class="wpb_accordion_header ui-accordion-header"><a href="#learn-from-3d-pro">Learn from 3D Pro</a></h3>
                            <div class="wpb_accordion_content ui-accordion-content vc_clearfix">

                                <div class="wpb_text_column wpb_content_element  vc_custom_1425560004714">
                                    <div class="wpb_wrapper">
                                        <p><span style="color: #ababab;">From emptying a litter box, to walking and feeding, we’re here to make sure your pet is cared for as well.</span></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="wpb_accordion_section group">
                            <h3 class="wpb_accordion_header ui-accordion-header"><a href="#learn-from-photoshop-pro">Learn from Photoshop Pro</a></h3>
                            <div class="wpb_accordion_content ui-accordion-content vc_clearfix">

                                <div class="wpb_text_column wpb_content_element  vc_custom_1425560004714">
                                    <div class="wpb_wrapper">
                                        <p><span style="color: #ababab;">From emptying a litter box, to walking and feeding, we’re here to make sure your pet is cared for as well.</span></p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
