<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1455028158864 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-9">
        <div class="vc_column-inner vc_custom_1452513771420">
            <div class="wpb_wrapper">
                <div class="aio-icon-component    style_1">
                    <div id="Info-box-wrap-6318" class="aio-icon-box left-icon" style="">
                        <div class="aio-icon-left">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon none " style="color:#ffffff;font-size:50px;display:inline-block;">
                                        <i class="linear-laptop-phone"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aio-ibd-block">
                            <div class="aio-icon-header">
                                <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-6318 .aio-icon-title' data-responsive-json-new='{"font-size":"desktop:18px;","line-height":""}' style="font-family:&#039;Raleway&#039;;font-weight:800;color:#ffffff;">2000+ PEOPLE ALREADY JOINED OUR CLUB</h3></div>
                            <!-- header -->
                            <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-6318 .aio-icon-description' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;color:#ffffff;">Subscribe now and receive weekly newsletter with educational materials, new courses, interesting posts, popular books and much more!</div>
                            <!-- description -->
                        </div>
                        <!-- aio-ibd-block -->
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner vc_custom_1452513778622">
            <div class="wpb_wrapper">
                <div class="ult-spacer spacer-5e789b7e9ec25" data-id="5e789b7e9ec25" data-height="10" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                <div class=" ubtn-ctn-center ">
                    <a class="ubtn-link ult-adjust-bottom-margin ubtn-center ubtn-custom " href="http://moving.aislinthemes.com/courses-overview/">
                        <button type="button" id="ubtn-6491" class="ubtn ult-adjust-bottom-margin ult-responsive ubtn-custom ubtn-no-hover-bg  ulta-hover  ubtn-center   tooltip-5e789b7e9ed31" data-hover="#ffc000" data-border-color="#ffffff" data-bg="#ffffff" data-hover-bg="rgba(255,255,255,0.01)" data-border-hover="#ffffff" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow="" data-ultimate-target='#ubtn-6491' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' style="font-family:&#039;Raleway&#039;;font-weight:700;width:px;min-height:px;padding:12px 20px;border-radius:0px;border-width:2px;border-color:#ffffff;border-style:solid;background: #ffffff;color: #ffc000;"><span class="ubtn-data ubtn-icon"><i class="none" style="font-size:18px;color:#ffffff;"></i></span><span class="ubtn-hover" style="background-color:rgba(255,255,255,0.01)"></span><span class="ubtn-data ubtn-text ">LEARN MORE ABOUT US</span></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
