<div class="vc_row wpb_row vc_row-fluid vc_custom_1452333137143">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1444462858210">
            <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1449222217943">
                    <div class="lin-course-box wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                        <div class="vc_column-inner vc_custom_1450532829867">
                            <div class="wpb_wrapper">
                                <div style="font-size: 35px;color: #ffffff;line-height: 32px;text-align: right;font-family:Raleway;font-weight:800;font-style:normal" class="vc_custom_heading vc_custom_1446623715425"><a href="http://moving.aislinthemes.com/single-class/">TRENDING</a></div>
                                <div style="font-size: 30px;color: #ffffff;line-height: 40px;text-align: right;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading"><a href="http://moving.aislinthemes.com/single-class/">COURSES</a></div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_50 vc_sep_pos_align_right vc_separator_no_text vc_custom_1446214155298  vc_custom_1446214155298"><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span>
                                </div>
                                <div id="ultimate-heading-75995e789b7e66387" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-75995e789b7e66387 uvc-2754 " data-hspacer="no_spacer" data-halign="right" style="text-align:right">
                                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-75995e789b7e66387 h2' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":""}'>
                                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:normal;font-style:normal;color:#ffffff;">Watch classes anytime, anywhere.</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1452371437060">
            <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1449222249647">
                    <div class="lin-course-box wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                        <div class="vc_column-inner vc_custom_1449914773145">
                            <div class="wpb_wrapper">
                                <div style="font-size: 35px;color: #ffffff;line-height: 32px;text-align: right;font-family:Raleway;font-weight:800;font-style:normal" class="vc_custom_heading vc_custom_1446214191840"><a href="http://moving.aislinthemes.com/single-class/">NEW</a></div>
                                <div style="font-size: 30px;color: #ffffff;line-height: 40px;text-align: right;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading"><a href="http://moving.aislinthemes.com/single-class/">COURSES</a></div>
                                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_50 vc_sep_pos_align_right vc_separator_no_text vc_custom_1446214155298  vc_custom_1446214155298"><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:rgb(255,255,255);border-color:rgba(255,255,255,0.51);" class="vc_sep_line"></span></span>
                                </div>
                                <div id="ultimate-heading-25315e789b7e66e28" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-25315e789b7e66e28 uvc-3035 " data-hspacer="no_spacer" data-halign="right" style="text-align:right">
                                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-25315e789b7e66e28 h2' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":""}'>
                                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:normal;font-style:normal;color:#ffffff;">Create projects and build a portfolio.</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
