<div class="vc_row wpb_row vc_row-fluid sc-feature-boxes vc_custom_1452514588208">
    <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3 vc_col-lg-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="aio-icon-component   lin-top-icon-2 style_1">
                    <div id="Info-box-wrap-1788" class="aio-icon-box top-icon" style="">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#224687;border-style:solid;border-color:#2abfd4;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                        <span class="lnr lnr-license"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div id="ultimate-heading-54625e789b7e63d70" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-54625e789b7e63d70 uvc-8855 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-54625e789b7e63d70 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">ONLINE COURSES</h2></div>
                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-54625e789b7e63d70 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:normal;color:#666666;">Whether you stay with us for one week or one year, we will make sure you have the time of your life.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="aio-icon-component   lin-top-icon-1 style_1">
                    <div id="Info-box-wrap-5864" class="aio-icon-box top-icon" style="">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#377bab;border-style:solid;border-color:#ffd351;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                        <span class="lnr linear-book"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div id="ultimate-heading-58485e789b7e640f5" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-58485e789b7e640f5 uvc-798 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-58485e789b7e640f5 h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">BOOKS &amp; LIBRARY</h2></div>
                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-58485e789b7e640f5 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:normal;color:#666666;">Discover free online courses from top universities, and functionality of Canvas, the that makes teaching.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="aio-icon-component   lin-top-icon-2 style_1">
                    <div id="Info-box-wrap-6195" class="aio-icon-box top-icon" style="">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#224687;border-style:solid;border-color:#2abfd4;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                        <span class="lnr linear-users"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div id="ultimate-heading-5885e789b7e6449f" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-5885e789b7e6449f uvc-2995 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-5885e789b7e6449f h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">GREAT TEACHERS</h2></div>
                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-5885e789b7e6449f .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:normal;color:#666666;">While other platforms offer only a subset of online teaching tools, network provides all the ease.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sc-feature-box wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="aio-icon-component   lin-top-icon-1 style_1">
                    <div id="Info-box-wrap-2354" class="aio-icon-box top-icon" style="">
                        <div class="aio-icon-top">
                            <div class="ult-just-icon-wrapper  ">
                                <div class="align-icon" style="text-align:center;">
                                    <div class="aio-icon advanced " data-animation="bounceInLeft" data-animation-delay="03" style="color:#ffffff;background:#377bab;border-style:solid;border-color:#ffd351;border-width:8px;width:180px;height:180px;line-height:180px;border-radius:180px;font-size:70px;display:inline-block;">
                                        <span class="lnr linear-license"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- aio-icon-box -->
                </div>
                <!-- aio-icon-component -->
                <div id="ultimate-heading-17955e789b7e6482e" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-17955e789b7e6482e uvc-944 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer no_spacer" style="top"></div>
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-17955e789b7e6482e h2' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":""}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:10px;margin-bottom:15px;">CERTIFICATION</h2></div>
                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-17955e789b7e6482e .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:14px;","line-height":"desktop:21px;"}' style="font-family:&#039;Raleway&#039;;font-weight:normal;color:#666666;">Whether you stay with us for one week or one year, we will make sure you have the time of your life.</div>
                </div>
            </div>
        </div>
    </div>
</div>
