<div class="vc_row wpb_row vc_row-fluid vc_custom_1499768919805">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1452371948345">
            <div class="wpb_wrapper">
                <div id="ultimate-heading-91425e789b7e8bb4c" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-91425e789b7e8bb4c uvc-1170 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-91425e789b7e8bb4c h2' data-responsive-json-new='{"font-size":"desktop:26px;","line-height":"desktop:45px;"}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-top:23px;margin-bottom:0px;">LATEST POSTS</h2></div>
                    <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffc000;width:30px;"></span></div>
                </div>
                <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey vc_custom_1451470242662  vc_custom_1451470242662"><span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1449746393824">
                    <div class="wpb_column vc_column_container vc_col-sm-8">
                        <div class="vc_column-inner vc_custom_1446756958182">
                            <div class="wpb_wrapper">
                                <div class="linp-post-list  linp_post_list-44f6f1f86851c52e82151ae8a31475c9 horizontal">
                                    <div class="vc_row">
                                        <div class="wh-padding item one half">

                                            <div class="img-container">
                                                <a href="http://skilled.aislinthemes.com/transparent-header/2017/07/05/learn-english-connect-with-the-world/" title="Learn the language of love, morbi venenatis lacinia"><img width="848" height="548" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2015/07/10.jpg" class="post-list-thumb wp-post-image" alt="" /></a>
                                            </div>
                                            <div class="data">

                                                <h6><a title="Learn the language of love, morbi venenatis lacinia"
href="http://skilled.aislinthemes.com/transparent-header/2017/07/05/learn-english-connect-with-the-world/">Learn the language of love, morbi venenatis lacinia</a></h6>

                                                <div class="content">
                                                    <p>Education is the process of facilitating learning. Knowledge, skills, values, beliefs, and habits of a&hellip;</p>
                                                </div>

                                                <hr/>

                                                <div class="meta-data">
                                                    <span class="date">
        2017-07-05                </span>
                                                    <span class="comments">
        <i class="lnr lnr-bubble"></i> (4)
    </span>
                                                    <span class="author">
    by <a
href="http://skilled.aislinthemes.com/transparent-header/author/aislin/">
aislin				</a>
</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wh-padding item one half">

                                            <div class="img-container">
                                                <a href="http://skilled.aislinthemes.com/transparent-header/2017/01/24/home-health/" title="Learn English connect with the world"><img width="848" height="548" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2015/07/03.jpg" class="post-list-thumb wp-post-image" alt="" /></a>
                                            </div>
                                            <div class="data">

                                                <h6><a title="Learn English connect with the world"
href="http://skilled.aislinthemes.com/transparent-header/2017/01/24/home-health/">Learn English connect with the world</a></h6>

                                                <div class="content">
                                                    <p>Education is the process of facilitating learning. Knowledge, skills, values, beliefs, and habits of a&hellip;</p>
                                                </div>

                                                <hr/>

                                                <div class="meta-data">
                                                    <span class="date">
        2017-01-24                </span>
                                                    <span class="comments">
        <i class="lnr lnr-bubble"></i> (0)
    </span>
                                                    <span class="author">
    by <a
href="http://skilled.aislinthemes.com/transparent-header/author/aislin/">
aislin				</a>
</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner vc_custom_1452371954272">
                            <div class="wpb_wrapper">
                                <div class="linp-tribe-events-wrap">
                                    <ul class="linp-tribe-events linp_events-03f313c70061aee477e69c65f05cf5c7">
                                        <li class="event">
                                            <div class="icon">
                                                <div class="inner-circle">
                                                    <div class="date">
                                                        Nov 08 </div>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <a href="http://skilled.aislinthemes.com/transparent-header/event/free-photoshop-class-at-lisbon/" rel="bookmark">New Chicago photography school</a>
                                                </div>

                                                <div class="content">
                                                    Quisque tortor nisi, tristique sit amet commodo vel, commodo at&hellip; </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="icon">
                                                <div class="inner-circle">
                                                    <div class="date">
                                                        Nov 14 </div>
                                                </div>
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <a href="http://skilled.aislinthemes.com/transparent-header/event/balance-clinic-with-excella/" rel="bookmark">Those Other College Expenses Thinking About</a>
                                                </div>

                                                <div class="content">
                                                    Cras condimentum a elit eget sagittis. Ut dignissim sapien feugiat&hellip; </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
