<div class="vc_row wpb_row vc_row-fluid vc_custom_1499769018973">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1452371930718">
            <div class="wpb_wrapper">
                <div id="ultimate-heading-59215e789b7e67402" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-59215e789b7e67402 uvc-4922 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-59215e789b7e67402 h2' data-responsive-json-new='{"font-size":"desktop:26px;","line-height":"desktop:45px;"}'>
                        <h2 style="font-family:&#039;Raleway&#039;;font-weight:900;color:#333333;margin-bottom:0px;">POPULAR COURSES</h2></div>
                    <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:30px;"></span></div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner vc_custom_1499768976769">
                            <div class="wpb_wrapper">
                                <div class="linp-featured-courses-carousel wh-sensei-courses-carousel" data-items="4" data-slide-speed="500" data-auto-play="true" data-show-bullets="true" data-auto-height="false">
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/adobe-indesign-cs6-tutorial-beginners/" title="Adobe InDesign CS6 Tutorial Beginners"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/07.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <div class="price">
                                                <span class="course-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>59.00</span>
                                                </span>
                                            </div>
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/adobe-indesign-cs6-tutorial-beginners/" title="Adobe InDesign CS6 Tutorial Beginners">Adobe InDesign CS6 Tutorial Beginners</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                            <a href='http://skilled.aislinthemes.com/transparent-header/product/adobe-indesign-cs6-tutorial-beginners/' target='_blank'><span class="starwrapper"><span class="star-rating" title="Rated 5.00 out of 5"><span style="width:80px"><span class="rating">5.00</span> </span></span></span></a> </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 7&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/typography-and-lettering-for-logo-design/" title="Typography and Lettering for Logo Design"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/09.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <div class="price">
                                                <span class="course-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>25.00</span>
                                                </span>
                                            </div>
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/typography-and-lettering-for-logo-design/" title="Typography and Lettering for Logo Design">Typography and Lettering for Logo Design</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                            <a href='http://skilled.aislinthemes.com/transparent-header/product/typography-and-lettering-for-logo-design/' target='_blank'><span class="starwrapper"><span class="star-rating" title="Rated 4.00 out of 5"><span style="width:64px"><span class="rating">4.00</span> </span></span></span></a> </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 1&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/french-for-beginners-to-advanced-training-2/" title="French for Beginners to Advanced Training"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/04.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <div class="price">
                                                <span class="course-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>25.00</span>
                                                </span>
                                            </div>
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/french-for-beginners-to-advanced-training-2/" title="French for Beginners to Advanced Training">French for Beginners to Advanced Training</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                            <a href='http://skilled.aislinthemes.com/transparent-header/product/typography-and-lettering-for-logo-design/' target='_blank'><span class="starwrapper"><span class="star-rating" title="Rated 4.00 out of 5"><span style="width:64px"><span class="rating">4.00</span> </span></span></span></a> </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 0&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/sketch-3-from-a-to-z-become-an-app-designer/" title="Sketch 3 from A to Z: Become an App Designer"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/08.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/sketch-3-from-a-to-z-become-an-app-designer/" title="Sketch 3 from A to Z: Become an App Designer">Sketch 3 from A to Z: Become an App Designer</a>
</h3>
                                            <p class="course-excerpt">Beautiful web design begins with a practical knowledge of the&hellip;</p>
                                        </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 1&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/become-a-professional-graphic-designer/" title="Become a Professional Graphic Designer"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/01.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/become-a-professional-graphic-designer/" title="Become a Professional Graphic Designer">Become a Professional Graphic Designer</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                        </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 0&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/branding-like-a-professional-in-11-days/" title="Branding like a professional in 11 days"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/09.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <div class="price">
                                                <span class="course-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>25.00</span>
                                                </span>
                                            </div>
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/branding-like-a-professional-in-11-days/" title="Branding like a professional in 11 days">Branding like a professional in 11 days</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                            <a href='http://skilled.aislinthemes.com/transparent-header/product/branding-like-a-professional-in-11-days/' target='_blank'><span class="starwrapper"><span class="star-rating" title="Rated 5.00 out of 5"><span style="width:80px"><span class="rating">5.00</span> </span></span></span></a> </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 0&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="img-container rounded">
                                            <a href="http://skilled.aislinthemes.com/transparent-header/course/anatomy-for-figure-drawing-mastering-the-human-figure/" title="Anatomy for Figure Drawing: Mastering the Human Figure"><img width="440" height="440" src="http://skilled.aislinthemes.com/app/uploads/sites/6/2013/01/05.png" class="featured-course-thumb wp-post-image" alt="" /></a>
                                        </div>
                                        <div class="item-inner-wrap">
                                            <div class="price">
                                                <span class="course-price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>159.00</span>
                                                </span>
                                            </div>
                                            <h3 class="course-title">
<a href="http://skilled.aislinthemes.com/transparent-header/course/anatomy-for-figure-drawing-mastering-the-human-figure/" title="Anatomy for Figure Drawing: Mastering the Human Figure">Anatomy for Figure Drawing: Mastering the Human Figure</a>
</h3>
                                            <p class="course-excerpt">Learn how to integrate Sensei with WooCommerce in order to&hellip;</p>
                                            <a href='http://skilled.aislinthemes.com/transparent-header/product/anatomy-for-figure-drawing-mastering-the-human-figure/' target='_blank'><span class="starwrapper"><span class="star-rating" title="Rated 5.00 out of 5"><span style="width:80px"><span class="rating">5.00</span> </span></span></span></a> </div>
                                        <div class="cbp-row">
                                            <div class="one whole">
                                                <div class="course-lesson-count">
                                                    <i class="icon-skilledtime4"></i> 0&nbsp;Lessons </div>
                                                <div class="course-lesson-count author">
                                                    <i class="icon-skilledround-account-button-with-user-inside2"></i> aislin </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
