
<script>
    (function(body) {
        'use strict';
        body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
    })(document.body);
</script>

<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
<link rel='stylesheet' id='vc_google_fonts_raleway100200300regular500600700800900-css' href='/stylesheets/raleway.css' type='text/css' media='all' />
<link rel='stylesheet' id='ult-background-style-css' href='/stylesheets/background-style.min.css' type='text/css' media='all' />


<script type='text/javascript' src='/javascripts/core.min.js'></script>
<script type='text/javascript' src='/javascripts/widget.min.js'></script>
<script type='text/javascript' src='/javascripts/tabs.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery.ba-bbq.min.js'></script>
<script type='text/javascript' src='/javascripts/timetable.js'></script>
<script type='text/javascript' src='/javascripts/fitvids.js'></script>
<script type='text/javascript' src='/javascripts/superfish.js'></script>
<script type='text/javascript' src='/javascripts/scrollup.js'></script>
<script type='text/javascript' src='/javascripts/wheels-main.min.js'></script>
<script type='text/javascript' src='/javascripts/accordion.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery.sticky.js'></script>
</body>
</html>
