<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1451469769335 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner vc_custom_1452372340115">
            <div class="wpb_wrapper">
                <div class="stats-block stats-top  ">
                    <div class="aio-icon-top">
                        <div class="ult-just-icon-wrapper  ">
                            <div class="align-icon" style="text-align:center;"></div>
                        </div>
                    </div>
                    <div class="stats-desc" id="counter-responsv-wrap-7881">
                        <div id="counter_19100655435e789b7e93a6e" data-id="counter_19100655435e789b7e93a6e" data-ultimate-target='#counter-responsv-wrap-7881 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="65" data-separator="," data-decimal=".">0</div>
                        <div id="counter-responsv-wrap-7881" data-ultimate-target='#counter-responsv-wrap-7881 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:300;"></div>
                    </div>
                </div>
                <div id="ultimate-heading-55585e789b7e93bab" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-55585e789b7e93bab uvc-5218 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                </div>
                <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247124869">HOURS</h2></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner vc_custom_1452372348588">
            <div class="wpb_wrapper">
                <div class="stats-block stats-top  ">
                    <div class="aio-icon-top">
                        <div class="ult-just-icon-wrapper  ">
                            <div class="align-icon" style="text-align:center;"></div>
                        </div>
                    </div>
                    <div class="stats-desc" id="counter-responsv-wrap-4009">
                        <div id="counter_15287540965e789b7e94758" data-id="counter_15287540965e789b7e94758" data-ultimate-target='#counter-responsv-wrap-4009 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="55" data-separator="," data-decimal=".">0</div>
                        <div id="counter-responsv-wrap-4009" data-ultimate-target='#counter-responsv-wrap-4009 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:300;"></div>
                    </div>
                </div>
                <div id="ultimate-heading-30035e789b7e9488f" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-30035e789b7e9488f uvc-6182 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                </div>
                <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247425118">SPEAKERS</h2></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner vc_custom_1452372355054">
            <div class="wpb_wrapper">
                <div class="stats-block stats-top  ">
                    <div class="aio-icon-top">
                        <div class="ult-just-icon-wrapper  ">
                            <div class="align-icon" style="text-align:center;"></div>
                        </div>
                    </div>
                    <div class="stats-desc" id="counter-responsv-wrap-3438">
                        <div id="counter_6509646795e789b7e95415" data-id="counter_6509646795e789b7e95415" data-ultimate-target='#counter-responsv-wrap-3438 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="17" data-separator="," data-decimal=".">0</div>
                        <div id="counter-responsv-wrap-3438" data-ultimate-target='#counter-responsv-wrap-3438 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:300;"></div>
                    </div>
                </div>
                <div id="ultimate-heading-96915e789b7e9554a" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-96915e789b7e9554a uvc-803 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                </div>
                <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247451611">TOPICS</h2></div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="stats-block stats-top  ">
                    <div class="aio-icon-top">
                        <div class="ult-just-icon-wrapper  ">
                            <div class="align-icon" style="text-align:center;"></div>
                        </div>
                    </div>
                    <div class="stats-desc" id="counter-responsv-wrap-4540">
                        <div id="counter_18606671675e789b7e960aa" data-id="counter_18606671675e789b7e960aa" data-ultimate-target='#counter-responsv-wrap-4540 .stats-number' data-responsive-json-new='{"font-size":"desktop:57px;","line-height":""}' class="stats-number ult-responsive" style=" color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:800;color:#ffffff;" data-speed="3" data-counter-value="7" data-separator="," data-decimal=".">0</div>
                        <div id="counter-responsv-wrap-4540" data-ultimate-target='#counter-responsv-wrap-4540 .stats-text' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":""}' class="stats-text ult-responsive" style="font-size:px; color:#ffffff; font-family:&#039;Raleway&#039;;font-weight:300;"></div>
                    </div>
                </div>
                <div id="ultimate-heading-77525e789b7e961df" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-77525e789b7e961df uvc-242 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                    <div class="uvc-heading-spacer line_only" style="margin-bottom:0px;height:5px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:5px;border-color:#ffffff;width:15px;"></span></div>
                </div>
                <h2 style="font-size: 13px;color: #ffffff;text-align: center;font-family:Raleway;font-weight:300;font-style:normal" class="vc_custom_heading vc_custom_1449247481594">LESSONS</h2></div>
        </div>
    </div>
</div>
