<header class="cbp-row wh-header top wh-sticky-header-enabled">
    <div class="cbp-row wh-top-bar-additional">
        <div class="cbp-container">
            <div class="wh-logo-wrap one half wh-padding">
                <div class="wh-logo align-left">
                    <style>
                      #brand:hover{
                        color:#ffc107;
                      }
                    </style>
                    <a id="brand" href="#">
                        <span style="letter-spacing:2px;text-transform:uppercase;color:rgb(255, 255, 255);font-weight: 800;font-family:Raleway;font-size:38px;"><img style="width:50px;" src="/images/tia_logo.png" alt="Logo">  Test Item Analyzer</span>
                    </a>
                </div>
            </div>
            <div class="one half  wh-padding wh-top-bar-additional-text align-left">
                <span class="scp-icon scp-icon-background pull-right scp_icon-0a7f43e1007ac69850a095188879299a"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a> </span>

                <span class="scp-icon scp-icon-background pull-right scp_icon-76ecb01287788e632816282ece8dc52d"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a> </span>

                <span class="scp-icon scp-icon-background pull-right scp_icon-94b75c9ffc2f5002c006e18274b3feda"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a> </span> &nbsp;

                &nbsp; </div>
        </div>
    </div>
    <div class="wh-main-menu-bar-wrapper wh-sticky-header-enabled">
        <div class="cbp-container">
            <div class="logo-sticky wh-padding">
                <a href="#">
                    <img width="" src="#" alt="Logo">
                </a>
            </div>
            <div class="wh-main-menu one whole wh-padding">
                <div id="cbp-menu-main">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu-1" class="sf-menu wh-menu-main pull-left">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-13483 msm-top-level-item"><a href="#">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13638 msm-top-level-item"><a href="#">About</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13638 msm-top-level-item"><a href="#">Contact</a></li>
                            <li class="senseiloginlogout menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-13481 msm-top-level-item"><a href="/login" data-toggle="modal" data-target="#loginModal" style="color:#2abfd4">Sign In/Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
