<!--Mobile View Menu-->
<div class="header-mobile header-mobile-default">
    <div id="wh-mobile-menu" class="respmenu-wrap">
        <div class="respmenu-header">
            <a href="#" class="respmenu-header-logo-link" style="width:100%">
                <span style="letter-spacing:2px;text-transform:uppercase;color:black;font-weight: 800;font-family:Raleway;font-size:26px;"><img style="width:50px;margin-left:10px;" src="/images/tia_logo_dark.png" class="respmenu-header-logo" alt="Logo"> Test Item Analyzer</span>
            </a>

            <div class="respmenu-open">
                <hr>
                <hr>
                <hr>
            </div>
        </div>
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu" class="respmenu">
                <li id="menu-item-13483" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-13483 msm-top-level-item"><a href="#">Home</a>
                </li>
                <li id="menu-item-13638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13638 msm-top-level-item"><a href="#">About</a></li>
                <li id="menu-item-13638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13638 msm-top-level-item"><a href="#">Contact</a></li>
                <li id="menu-item-13481" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-13481 msm-top-level-item"><a href="/login" data-toggle="modal" data-target="#loginModal">Sign In/Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>
