<!-- Footer -->
<footer class="page-footer font-small blue text-center">
  <div class="row">
    <div class="col-12">
      <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved
        <!--<a href="#">First Anamarie A. Dichoso</a>.-->
      </p>
    </div>
  </div>
</footer>
<!-- Footer -->
