<div class="vc_row wpb_row vc_row-fluid vc_custom_1452370767689" style="border-bottom:1px solid #ffc107;">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1451904258434">
            <div class="wpb_wrapper">
                <div class="wpb_layerslider_element wpb_content_element">
                    <script type="text/javascript">
                        var lsjQuery = jQuery;
                        lsjQuery(document).ready(function() {
                            if (typeof lsjQuery.fn.layerSlider == "undefined") {
                                if (window._layerSlider && window._layerSlider.showNotice) {
                                    window._layerSlider.showNotice('layerslider_1', 'jquery');
                                }
                            } else {
                                lsjQuery("#layerslider_1").layerSlider({
                                    sliderVersion: '6.5.1',
                                    type: 'fullwidth',
                                    responsiveUnder: 1200,
                                    hideUnder: 0,
                                    hideOver: 100000,
                                    pauseOnHover: 1,
                                    skin: 'v5',
                                    globalBGSize: 'cover',
                                    navPrevNext: false,
                                    hoverPrevNext: false,
                                    navStartStop: false,
                                    navButtons: false,
                                    showCircleTimer: false,
                                    thumbnailNavigation: 'disabled',
                                    skinsPath: null
                                });
                            }
                        });
                    </script>
                    <div id="layerslider_1" class="ls-wp-container fitvidsignore" style="width:1200px;height:771px;margin:0 auto;margin-bottom: 0px;">
                        <div class="ls-slide" data-ls="duration:4000;kenburnsscale:1.2;"><img width="1920" height="771" src="/images/Slider-03.png" class="ls-bg" alt="" srcset="/images/Slider-03.png 1920w, /images/Slider-03-300x120.png 300w, /images/Slider-03-768x308.png 768w, /images/Slider-03-1024x411.png 1024w, /images/Slider-03-100x40.png 100w, /images/Slider-03-150x60.png 150w" sizes="(max-width: 1920px) 100vw, 1920px" />
                            <p style="font-weight: 300;font-family:Raleway;font-size:50px;line-height:60px;color:#ffffff;top:405px;left:276px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">CREATE ONLINE EXAM EASILY</p>
                            <p style="font-weight: 900;font-family:Raleway;font-size:60px;line-height:60px;color:#ffffff;top:340px;left:426px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:easeOutCubic;offsetxout:-80;durationout:400;easingout:easeOutCirc;parallaxlevel:0;">PAPERLESS EXAM</p>
                            <!--
                            <a data-dismiss="modal" data-toggle="modal" data-target="#signupModal" style="" class="ls-l wh-header" href="#" target="_self" data-ls="offsetxin:80;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">
                                <div style="font-weight: 800;padding-top:16px;padding-right:24px;padding-bottom:16px;padding-left:24px;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #fff;font-family:Raleway;font-size:13px;color:#ffffff;top:500px;left:522px;" class=" lin-slider-button hide-on-small-tablet"><span>SIGNUP NOW</span>
                                </div>
                            </a>-->
                        </div>
                        <div class="ls-slide" data-ls="duration:4000;kenburnsscale:1.2;"><img width="1920" height="771" src="/images/bg-slider02.png" class="ls-bg" alt="" srcset="/images/bg-slider02.png 1920w, /images/bg-slider02-300x120.png 300w, /images/bg-slider02-768x308.png 768w, /images/bg-slider02-1024x411.png 1024w, /images/bg-slider02-100x40.png 100w, /images/bg-slider02-150x60.png 150w" sizes="(max-width: 1920px) 100vw, 1920px" />
                            <p style="font-weight: 800;font-family:Raleway;font-size:60px;line-height:60px;color:#ffffff;top:293px;left:364px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">TEST-ITEM ANALYSIS<strong></strong></p>
                            <p style="font-weight: 300;font-family:Raleway;font-size:56px;line-height:50px;color:#ffffff;top:359px;left:232px;" class="ls-l" data-ls="offsetxin:300;durationin:2000;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;">ANALYZE EXAMINATION RESULT<strong></strong></p>

                            <!--
                            <p style="font-weight: 800;font-family:Raleway;font-size:60px;color:#a3a3a3;top:453px;left:461px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">299<strong></strong></p>
                            <p style="font-weight: 800;font-family:Raleway;font-size:30px;color:#a3a3a3;top:469px;left:439px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">$<strong></strong></p>
                            <p style="font-weight: 400;font-family:Raleway;font-size:22px;color:#ffffff;top:438px;left:659px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">NOW<strong></strong></p>
                            <p style="font-weight: 400;font-family:Raleway;font-size:22px;color:#ffffff;top:436px;left:491px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">WAS<strong></strong></p>
                            <p style="font-weight: 800;font-family:Raleway;font-size:60px;color:#ffffff;top:455px;left:641px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">199<strong></strong></p>
                            <p style="font-weight: 800;font-family:Raleway;font-size:30px;color:#ffffff;top:469px;left:617px;" class="ls-l hide-on-small-tablet" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;">$<strong></strong></p>

                            <div style="font-weight: 800;padding-top:16px;padding-right:24px;padding-bottom:16px;padding-left:24px;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #fff;font-family:Raleway;font-size:13px;color:#ffffff;top:554px;left:519px;" class="ls-l lin-slider-button hide-on-small-tablet" data-ls="offsetxin:80;easingin:linear;offsetxout:-80;durationout:400;easingout:linear;parallaxlevel:0;"><span>SIGNUP NOW</span>

                            </div><img width="1" height="53" src="/images/div.jpg" class="ls-l" alt="" style="top:468px;left:598px;" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"><img width="114" height="36" src="/images/img.png" class="ls-l" alt="" srcset="/images/img.png 114w, /images/img-100x32.png 100w" sizes="(max-width: 114px) 100vw, 114px" style="top:479px;left:459px;" data-ls="offsetxin:80;offsetxout:-80;durationout:400;parallaxlevel:0;"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
