<div class="cbp-row wh-page-title-bar">
	<div class="cbp-container">
		<div class="one whole wh-padding wh-page-title-wrapper">
						<h1 class="page-title">My Courses</h1>

	<div class="wh-breadcrumbs align-center">
		<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending"><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="http://skilled.aislinthemes.com/" rel="home" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="item"><span itemprop="name">My Courses</span></span><meta itemprop="position" content="2"></li></ul></nav>	</div>
					</div>
	</div>
</div>
