<div id="wh-style-switcher">
    <div class="wh-switcher-toggle">
        <!-- <i class="fa fa-cog fa-spin"></i> -->
    </div>
    <ul class="wh-switcher-links">

        <li class="default"><a href="http://skilled.aislinthemes.com/transparent-header">Reset</a></li>

        <li>
            <a href="indexb108.html?version=brown" title="Brown">
                <img src="http://skilled.aislinthemes.com/app/themes/skilled-child-demo/assets/img/color-schemes/brown.png" alt="switcher-thumb">
            </a>
        </li>
        <li>
            <a href="http://skilled.aislinthemes.com/transparent-header/?version=green-blue-yellow" title="Green-Blue-Yellow">
                <img src="http://skilled.aislinthemes.com/app/themes/skilled-child-demo/assets/img/color-schemes/green-blue-yellow.png" alt="switcher-thumb">
            </a>
        </li>
        <li>
            <a href="http://skilled.aislinthemes.com/transparent-header/?version=grey-green" title="Grey-Green">
                <img src="http://skilled.aislinthemes.com/app/themes/skilled-child-demo/assets/img/color-schemes/grey-green.png" alt="switcher-thumb">
            </a>
        </li>
        <li>
            <a href="http://skilled.aislinthemes.com/transparent-header/?version=orange-blue" title="Orange-Blue">
                <img src="http://skilled.aislinthemes.com/app/themes/skilled-child-demo/assets/img/color-schemes/orange-blue.png" alt="switcher-thumb">
            </a>
        </li>
        <li>
            <a href="http://skilled.aislinthemes.com/transparent-header/?version=red-blue" title="Red-Blue">
                <img src="http://skilled.aislinthemes.com/app/themes/skilled-child-demo/assets/img/color-schemes/red-blue.png" alt="switcher-thumb">
            </a>
        </li>

    </ul>

</div>
